.navBar{
display: flex;
justify-content: center;
align-items: center;
padding: 1.5rem;
}

/* links */

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.links a {
    color: var(--grey) !important;
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    
}


.links a:hover{
color:white !important;
transition: all 0.2s;
}

/* gradient effect */
.gradient {
    position: absolute;
    width: 800px;
    height: 140px;
    margin: auto;
    background: var(--blue);
    filter:blur(90px);
    z-index: -1;
    top: -150px;
  }

  /* //while active links */
 .links .active{
    color:rgb(250, 206, 11) !important;
    /* background-color: goldenrod; */
    padding: .5rem;
  }
  .links .active:hover{
    color: yellow !important;
  }

 